@import 'tailwindcss';

@theme {
    --animate-slideDown: slideDown 0.6s ease-out 0s 1;
    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
